# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env
*.env
!.env.example

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

#docs
docs/tasks.md