SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

CORS_ALLOWED_ORIGINS=http://localhost:8081,http://localhost:19006
GOOGLE_OAUTH_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
NOTE_UPLOAD_MAX_SIZE=10485760
NOTE_UPLOAD_ALLOWED_CONTENT_TYPES=application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,image/jpeg,image/png,text/plain,image/webp,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation
OCR_PROVIDER=placeholder